body {
    margin: 0;
    font-family: 'Karla', sans-serif;
     display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 52px;
    text-align: left;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #4ADF86;
    
}
h1 {
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: -7px;
    font-weight: 800;
}

#text {
    margin-top: 115px;
}

#green-text {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

button {
    padding: 9px 17px;
    color: white;
    background: #10B981;
    margin-top: 51px;
    border-radius: 6px;
    border: 2px solid white;
}

#password {
    border-top: 1px solid #2F3E53;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
   
}

#password-one {
    width: 211px;
    height: 39px;
    background: #273549;
    margin-top: 35px;
    border-radius: 6px;
    text-align: center;
    color:#10B981;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password-two {
    width: 211px;
    height: 39px;
    background: #273549;
    margin-top: 35px;
    border-radius: 6px;
    text-align: center;
    color:#10B981;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}